<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/styles.css" />
        <link rel="icon" href="./img/favicon.ico" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/profilepic.gif" /> <br>
            <small>{{name}} (police photo)</small>
        </div>
        {{>footer}}
    </body>
</html>