<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/styles.css" />
        <link rel="icon" href="./img/favicon.ico" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <hr>
            <p>express weather is a simple nodejs/express-backed weather app made for <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">The Complete Node.js Developer Course</a> on <a href="https://www.udemy.com/">udemy.com</a>.  It uses location data from mapbox.com and weather data from weatherstack.com to return current temperature and weather conditions from any location.</mapbox></p>
            <img class="portrait" src="./img/profilepic.gif" /> <br>
            <small>{{name}} (police photo)</small>
        </div>
        {{>footer}}
    </body>
</html>